body {
    margin-left: 0px;
    margin-top: 0px;
}

.container{
    /*border: 1px solid black;*/
    margin: auto;
    width: 1200px;
    min-height: 2000px;
}

.header {
    margin-left: 70px;
    margin-top: 70px;
    width: 1062px;
    height: 95px;
}

.menu {
    float: right; /* Выравнивание по правому краю */
    font-size: 14pt;
    font-weight: normal;
    color: #626262;
}

.menu ul {
    margin: 0px;
}

.menu ul li {
    display: inline;
}