@font-face {
    font-family: PlayfairDisplay; /* Гарнитура шрифта */
    src: url(fonts/PlayfairDisplay-Regular.ttf); /* Путь к файлу со шрифтом */
}

body {
    margin-left: 0px;
    margin-top: 0px;
}

.container{
    /*border: 1px solid black;*/
    margin: auto;
    width: 1200px;
    min-height: 2000px;
}

.header {
    margin-left: 70px;
    margin-top: 70px;
    width: 1062px;
    height: 95px;
}

.menu {
    float: right; /* Выравнивание по правому краю */
    font-size: 14pt;
    font-weight: normal;
    color: #626262;
}

.menu ul {
    margin: 0px;
}

.menu ul li {
    display: inline;
}

.firstpost {
    clear: both;
    width: 1062;
    margin-left: 80px;
}

.firstpost div img {
    margin-left: -80px;
    margin-bottom: 70px;
}

.post h1 {
    margin-top: 0;
}

.pagelink {
    clear: both;
    padding: 30px 0 30px 0;
    color: #626262;
}

.post {
    width: 900px;
    font-family: "PlayfairDisplay";
    color: #626262;
}

